extends layout

block content
    div.content
        h1= title
        div.form-content
            h2 Recherche
            form(method='POST' action='')
                lu
                    li
                        label(for='arrondissement') Par arrondissement
                        input.form-control(type='text' placeholder='Arrondissement')
                    li
                        button.btn.btn-primary(type='submit') Submit
                    li 
                        label(for='nom') Par nom d'installation
                        select
                            each installlation in installlations
                                option(value=installlation) #{installlation}
                    li
                        button.btn.btn-primary(type='submit') Submit
        
