doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      div.topnav
          a(href="/") Home 
          a(href="/installations") Installations
block content
        
